@page "/"

<p>
    <center>
        <strong>AS "Dispatcher" – an effective solution for logistics automation</strong>
    </center>
</p>
<br />

<p>
    Convenient and practical system for optimizing the work of logistics companies,
    created taking into account the needs of customers to effectively solve the problems of building
    optimal routes for fast cargo transportation
</p>
<br />

<p class="aligncenter">
    <img src="/images/dispmap.jpg">
    <br />
</p>
<br />

<style>
    .aligncenter {
        text-align: center;
    }
</style>

<style type="text/css">

    #copyright {
        position: absolute;
        bottom: 1em;
        right: 1em;
        text-align: right;
    }
</style>
<div id="copyright">© green roach inc., 2021. All rights reserved</div>